<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>

<body>
  <div class="container">

    <div class="jumbotron">
      <p>Scope value:
        <span id="scope" class="label label-danger oauth-scope-value"></span>
      </p>
      <p>Access token value:
        <span id="#access_token" class="label label-danger oauth-access-token"></span>
      </p>
      <button id="authorize" class="btn btn-default oauth-authorize" type="button">Get OAuth Token</button>
      <button id="fetch-repo" class="btn btn-default oauth-fetch-resource" data-method="get" data-resource="repos/username/reponame"
        type="button">Get Repo: username/reponame</button>
      <button id="fetch-user" class="btn btn-default oauth-fetch-resource" data-method="get" data-resource="users/username" type="button">Get user: username</button>
    </div>
    <div class="jumbotron">
      <h2>Data from protected resources:</h2>
      <pre><span id="repo" class="oauth-protected-resource"></span></pre>
      <pre><span id="user" class="oauth-protected-resource"></span></pre>
    </div>

    <div class="jumbotron">
      <h2>State:</h2>
      <pre><span id="state"></span></pre>
    </div>
  </div>
  <script>
    // The event "DOMContentLoaded" will be fired when the document has
    // been parsed completely, that is without stylesheets and additional images.
    document.addEventListener('DOMContentLoaded', function () {

      function createBitbucketClient(opts = {}) {
        opts = Object.assign(opts, {
          $ // assuming jQuery is loaded, use by default
        })
        bbClient = new SampleBitBucketClient(opts)
        bbClient.init()
        return bbClient
      }

      const bitBucketClient = createBitbucketClient({
        client
      })

      // authorize via redirect to bitbucket authorize page
      bitBucketClient
        .authorize()

      // later
      bitBucketClient.fetchResource({
        resourceUrl,
        method
      })

    })
  </script>
</body>

</html>
